<!DOCTYPE HTML>
<!--
	BMI, Quick! by not7CD
	not7cd.net | @not7cd
-->
<html ng-app="bmiQuick">

<head>
	<title>BMI, Quick!</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="bootstrap.min.css">
</head>

<body>

	<!-- Main Container -->
	<div class="container">
		</br>
		<div class="row">
		<!-- Header -->
		<div class="col-xs-12 col-md-4 col-md-push-8">
			<!-- <div class="col-xs-3 col-sm-2 col-md-1 hidden-xs">
				<img class="img-circle img-responsive" src="images/avatar.jpg" alt="" />
			</div> -->
			<div class="col-xs-12 col-sm-12">
				<h1 id="logo"><a href="#">BMI, Quick!</a></h1>
				<p>Simple Body Mass Index calculator.</p>
			</div>
		</div>
	</br>
		<!-- Calculator -->
		<div class="col-xs-12 col-md-8 col-md-pull-4">
				<!-- Input -->
				<div class="">
					<div class="form-group">
						<label for="height">Height</label>
						<div class="input-group">
							<div id="height" class="form-control"><input type="text" name="height" ng-model="metricHeight" placeholder="" /></div>
							<div class="input-group-btn"><height-unit></height-unit></div>
						</div>
					</div>
					<div class="form-group">
						<label for="weight">Weight</label>
						<div class="input-group">
							<div id="weight" class="form-control"><input type="text" name="weight" ng-model="metricWeight" placeholder="" /></div>
							<div class="input-group-btn"><weight-unit></weight-unit></div>
						</div>
					</div>
				</div>
				<!-- End Input -->
				<!-- Output -->
				<div class="">
					<div class="form-group">
						<label for="bmi-output">BMI</label>
						<input id="bmi-output" class="form-control" type="text" placeholder="{{ ( metricWeight ) / ( metricHeight * metricHeight / 100 / 100 ) | number:2 }}" readonly>
					</div>
				</div>
				<!-- End Output  -->
		</div>
		<!-- End Calculator -->
		</div>
	</div>

	<!-- Scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script src="app/app.js" charset="utf-8"></script>
	<script src="app/weight-unit.component.js" charset="utf-8"></script>
	<script src="app/height-unit.component.js" charset="utf-8"></script>

</body>

</html>
